@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #FFFFFF;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    align-items: center;
    background-color: blueviolet;
    display: flex;
    height: 3em;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100vw;
}

.title {
    font-family: 'Itim', cursive;
    color: #FFFFFF;
}

.calculadora {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 85vh;
    padding: 5px;
    position: relative;
    margin-top: 35px;
    width: 400px;
    max-width: 400px;
}

.display {
    height: 7em;
    text-align: right;
    width: 100%;
}

.display .display-content p:nth-child(1) {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
    margin-bottom: 0;
}

.display .display-content p:nth-child(2) {
    color: rgba(0, 0, 0, 0.3);
    font-size: 2em;
}

.line {
    border-bottom: solid 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 1px;
}

.calculadora .buttons-content {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 80%;
    margin: 0;
    padding: 10px;
    width: 100%;
}

.buttons {
    background-color: #E6E6E6;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    outline: none;
    transition: background-color .1s ease;
}

.buttons:nth-child(1) {
    color: #FC6021;
}

.buttons:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.buttons.bg {
    background-color: #09B813;
    color: #FFFFFF;
    transition: background-color .1s ease;
}

.buttons.bg:active {
    background-color: #03A007;
}

.buttons.fg {
    color: #09B813;
}

@media (max-device-width: 1080px) {
    .container {
        width: 100%;
    }

    .calculadora {
        /* background-color: #09B813; */
    }
}
